<template>
  <v-dialog
    v-model="isOpen"
    :persistent="hasUnsavedChanges"
  >
    <template #activator="{ props }">
      <v-btn
        v-bind="props"
        :icon="mdiPencil"
      ></v-btn>
    </template>
    <v-card
      title="Edit Preset"
    >
      <template v-slot:append>
        <v-btn
          :icon="mdiClose"
          variant="text"
          @click="close"
        ></v-btn>
      </template>
      <v-card-text>
        <v-form
          ref="form"
          :disabled="loading"
        >
          <v-container>
            <v-row>
              <v-col>
                <v-text-field
                  label="Name"
                  v-model="preset.name"
                  required
                  :rules="[uniqueNameRule]"
                ></v-text-field>
              </v-col>
              <v-col>
                <v-text-field
                  label="Auto Apply Regex"
                  v-model="preset.autoApplyRegex"
                ></v-text-field>
              </v-col>
            </v-row>
            <v-row>
              <AddTorrentOptions
                v-model="preset.options"
              ></AddTorrentOptions>
            </v-row>
          </v-container>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-container>
          <v-row
            justify="end"
          >
            <v-btn
              :loading="loading"
              variant="tonal"
              @click="save"
            >
              Save
            </v-btn>
          </v-row>
        </v-container>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import {
  mdiPencil,
  mdiClose,
} from '@mdi/js';
import {isEqual} from 'lodash';
import {storeToRefs} from 'pinia';
import {
  ref,
  computed,
  nextTick,
} from 'vue';
import {
  VForm,
  VTextField,
} from 'vuetify/components';

import {useOverlay} from '~/composables';
import type {VuelugeAddTorrentPreset} from '~/lib';
import {
  usePluginConfigSetOperationStore,
  usePluginConfigStore,
} from '~/stores';

import AddTorrentOptions from '@/AddTorrent/Options.vue';

const {
  isOpen,
  close,
  open,
} = useOverlay();
const configOperationStore = usePluginConfigSetOperationStore();
const configStore = usePluginConfigStore();
const props = defineProps<{
  modelValue: VuelugeAddTorrentPreset;
}>();
const emit = defineEmits<{
  (e: 'update:modelValue', value: VuelugeAddTorrentPreset): void;
}>();

const {config} = storeToRefs(configStore);
const {loading} = storeToRefs(configOperationStore);
const form = ref<InstanceType<typeof VForm> | null>(null);
const preset = ref<VuelugeAddTorrentPreset>({
  ...props.modelValue,
});
const hasUnsavedChanges = computed(() => !isEqual(props.modelValue, preset.value));
const save = async () => {
  if (await form.value?.validate()) {
    emit('update:modelValue', preset.value);
  }
  nextTick(() => {
    close();
  });
};
const uniqueNameRule: VTextField['rules'][number] = (value: VuelugeAddTorrentPreset['name']) =>
  !config.value.presets[value] || config.value.presets[value] === props.modelValue || 'Preset name is already in use';

defineExpose({
  open,
});
</script>

<script lang="ts">
export default {
  name: 'AddTorrentPresetForm',
};
</script>
