<!-- <template>
  <v-container>
    <v-row>
      <v-col>
        <span>{{ modelValue.name }}</span>
      </v-col>
      <v-col>
        <span>{{ modelValue.autoApplyRegex }}</span>
      </v-col>
      <v-col cols="1">

      </v-col>
    </v-row>
    <v-row>
      <AddTorrentOptions
        :model-value="props.modelValue.options"
        @update:model-value="(value) => emit('update:modelValue', {...props.modelValue, options: value})"
      ></AddTorrentOptions>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import type {VuelugeAddTorrentPreset} from '~/lib/add-torrent';

const props = defineProps<{
  preset: VuelugeAddTorrentPreset;
}>();
</script> -->

<script lang="ts">
export default {
  name: 'AddTorrentPresetView',
};
</script>
