<template>
  <v-text-field
    v-bind="$attrs"
    type="number"
    :rules="[validator]"
  ></v-text-field>
</template>

<script setup lang="ts">
import {vuelugeFormsIsValidLimit} from '~/lib/forms';

const validator = (value: string) => vuelugeFormsIsValidLimit(value) || 'Input a value greater than or equal to -1';
</script>

<script lang="ts">
export default {
  name: 'VuelugeFormLimitField',
};
</script>
