<template>
  <v-dialog
    v-model="isOpen"
  >
    <template #activator="{ props }">
      <v-btn
        v-bind="props"
        :icon="icon"
      ></v-btn>
    </template>

    <v-card
      title="Add Torrents"
    >
      <template v-slot:append>
        <v-btn
          :icon="mdiClose"
          variant="text"
          @click="close"
        ></v-btn>
      </template>
      <v-card-text>
        <v-file-input
          chips
          multiple
          label="Add Torrents"
          v-model="files"
        ></v-file-input>

        <v-row v-if="hasTorrentsToAdd">
          <v-select
            v-model="appliedPreset"
            :items="presets"
            item-title="name"
            item-value="name"
            label="Apply a Preset to All Torrents"
          ></v-select>
        </v-row>

        <v-expansion-panels>
          <v-expansion-panel
            v-for="{info, options} in torrentsToAdd"
            :key="info.info_hash"
          >
            <v-expansion-panel-title>
              <v-col>
                {{ info.name }}
              </v-col>
              <v-col cols="1">
                <v-btn
                  @click="remove(info.info_hash)"
                  color="error"
                  :icon="mdiDelete"
                ></v-btn>
              </v-col>
            </v-expansion-panel-title>
            <v-expansion-panel-text>
              <AddTorrentTabs>
                <template #files>
                  <AddTorrentFiles
                    :files="torrentFiles[info.info_hash]"
                    :model-value="options.file_priorities"
                    @update:model-value="(value) => torrentsToAdd[info.info_hash].options.file_priorities = value"
                  ></AddTorrentFiles>
                </template>
                <template #options>
                  <AddTorrentOptions
                    use-presets
                    :model-value="options"
                    @update:model-value="(value) => torrentsToAdd[info.info_hash].options = {...torrentsToAdd[info.info_hash].options, ...filter(value)}"
                  ></AddTorrentOptions>
                </template>
              </AddTorrentTabs>
            </v-expansion-panel-text>
          </v-expansion-panel>
        </v-expansion-panels>
      </v-card-text>

      <v-card-actions>
        <v-btn color="primary" block @click="add">Add Torrents</v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import {
  mdiDelete,
  mdiClose,
  mdiPlus,
} from '@mdi/js';
import {
  map,
  mapValues,
  filter,
} from 'lodash';
import {storeToRefs} from 'pinia';
import Container from 'typedi';
import {
  computed,
  ref,
  watch,
} from 'vue';

import {
  useAddTorrentPresets,
  useOverlay,
} from '~/composables';
import type {VuelugeAddTorrent} from '~/lib';
import {
  VUELUGE_ADD_TORRENT_OPTIONS_DEFAULT,
  vuelugeAddTorrentOptionsGetFiles,
  vuelugeAddTorrentOptionsTransform,
} from '~/lib/add-torrent';
import type {TorrentContentFile} from '~/lib/driver';
import {VUELUGE_TORRENTS_DRIVER} from '~/lib/driver/torrents';
import {useDelugeConfigStore} from '~/stores';

import AddTorrentFiles from '@/AddTorrent/Files.vue';
import AddTorrentOptions from '@/AddTorrent/Options.vue';
import AddTorrentTabs from '@/AddTorrent/Tabs.vue';

const {
  isOpen,
  close,
} = useOverlay();
const files = ref<File[]>([]);
const torrentsToAdd = ref<Record<VuelugeAddTorrent['info']['info_hash'], VuelugeAddTorrent>>({});
const torrentFiles = ref<Record<VuelugeAddTorrent['info']['info_hash'], TorrentContentFile[]>>({});
const icon = computed(() => isOpen.value ? mdiClose : mdiPlus);
const configStore = useDelugeConfigStore();
const {config} = storeToRefs(configStore);
const hasTorrentsToAdd = computed(() => Object.keys(torrentsToAdd.value).length > 0);
const {
  list: presets,
  applied: appliedPreset,
  lookup,
} = useAddTorrentPresets();

const clearFiles = () => {
  files.value = [];
};
const uploadTorrents = async (files: File[]) => {
  if (files.length === 0) return;

  const driver = Container.get(VUELUGE_TORRENTS_DRIVER);
  const [resp] = await Promise.all([driver.upload(files), configStore.get()]);
  resp.forEach((info) => {
    if (!torrentsToAdd.value[info.info_hash]) {
      torrentFiles.value[info.info_hash] = vuelugeAddTorrentOptionsGetFiles(info.files_tree.contents);
      torrentsToAdd.value[info.info_hash] = {
        info,
        options: {
          // clone object
          ...VUELUGE_ADD_TORRENT_OPTIONS_DEFAULT,
          ...vuelugeAddTorrentOptionsTransform(config.value),
          file_priorities: torrentFiles.value[info.info_hash].map(() => 1),
        },
      };
    }
  });
  clearFiles();
};
const remove = (id: VuelugeAddTorrent['info']['info_hash']) => {
  delete torrentsToAdd.value[id];
  delete torrentFiles.value[id];
};
const add = async () => {
  const driver = Container.get(VUELUGE_TORRENTS_DRIVER);
  const addedTorrents = await driver.add(map(torrentsToAdd.value, (torToAdd) => ({
    path: torToAdd.info.path,
    options: torToAdd.options,
  })));
  addedTorrents.forEach(({id}) => {
    remove(id);
  });
  if (!hasTorrentsToAdd.value) {
    close();
  }
};

watch(files, uploadTorrents);
watch(appliedPreset, (presetName) => {
  if (presetName) {
    torrentsToAdd.value = mapValues(torrentsToAdd.value, (tor) => ({
      ...tor,
      options: {
        ...tor.options,
        ...(lookup(presetName)?.options ?? {}),
      },
    }));
  }
});
</script>

<script lang="ts">
export default {
  name: 'AddTorrentDialog',
};
</script>
