<template>
  <v-container>
    <v-list
      v-model:selected="selected"
      select-strategy="classic"
    >
      <v-list-subheader>Files</v-list-subheader>

      <v-list-item
        v-for="(file, index) of files"
        :key="index"
        :title="file.path"
        :value="index"
      >
        <template #prepend="{ isActive }">
          <v-list-item-action start>
            <v-checkbox-btn
              :model-value="isActive"
            ></v-checkbox-btn>
          </v-list-item-action>
        </template>
      </v-list-item>
    </v-list>
  </v-container>
</template>

<script setup lang="ts">
import {computed} from 'vue';

import type {
  AddTorrentOptions,
  TorrentContentFile,
} from '~/lib/driver';

const props = defineProps<{
  modelValue: AddTorrentOptions['file_priorities'];
  files: TorrentContentFile[];
}>();
const emit = defineEmits<{
  (e: 'update:modelValue', value: AddTorrentOptions['file_priorities']): void;
}>();

const filePriorities = computed<AddTorrentOptions['file_priorities']>({
  get: () => props.modelValue,
  set: (val) => emit('update:modelValue', val),
});
const selected = computed({
  get: () => filePriorities.value.reduce<number[]>((acc, val, index) => {
    if (val) {
      acc.push(index);
    }

    return acc;
  }, []),
  set: (val) => {
    const ary = Array(filePriorities.value.length).fill(0);
    val.forEach((i) => {
      ary[i] = 1;
    });
    filePriorities.value = ary;
  },
});
</script>

<script lang="ts">
export default {
  name: 'AddTorrentFiles',
};
</script>
