<template>
  <v-container>
    <v-row v-if="props.usePresets">
      <v-select
        :items="presets"
        item-title="name"
        item-value="name"
        label="Apply a Preset"
        @update:model-value="applyPreset"
      ></v-select>
    </v-row>

    <v-row>
      <v-text-field
        :model-value="props.modelValue.download_location"
        @update:modelValue="emit('update:modelValue', {...props.modelValue, download_location: $event})"
        label="Download Location"
      ></v-text-field>
    </v-row>

    <v-row>
      <v-col cols="3">
        <v-checkbox
          :model-value="props.modelValue.move_completed"
          @update:modelValue="emit('update:modelValue', {...props.modelValue, move_completed: $event})"
          label="Move on Complete"
        ></v-checkbox>
      </v-col>
      <v-col>
        <v-text-field
          :model-value="props.modelValue.move_completed_path"
          @update:modelValue="emit('update:modelValue', {...props.modelValue, move_completed_path: $event})"
          label="Download on Complete Location"
          :disabled="!props.modelValue.move_completed"
        ></v-text-field>
      </v-col>
    </v-row>

    <v-row>
      <v-col>
        <v-row>
          <VuelugeFormLimitField
            :model-value="props.modelValue.max_download_speed"
            @update:modelValue="emit('update:modelValue', {...props.modelValue, max_download_speed: $event})"
            label="Max Down Speed"
          ></VuelugeFormLimitField>
        </v-row>
        <v-row>
          <VuelugeFormLimitField
            :model-value="props.modelValue.max_upload_speed"
            @update:modelValue="emit('update:modelValue', {...props.modelValue, max_upload_speed: $event})"
            label="Max Up Speed"
          ></VuelugeFormLimitField>
        </v-row>
        <v-row>
          <VuelugeFormLimitField
            :model-value="props.modelValue.max_connections"
            @update:modelValue="emit('update:modelValue', {...props.modelValue, max_connections: $event})"
            label="Max Connections"
          ></VuelugeFormLimitField>
        </v-row>
        <v-row>
          <VuelugeFormLimitField
            :model-value="props.modelValue.max_upload_slots"
            @update:modelValue="emit('update:modelValue', {...props.modelValue, max_upload_slots: $event})"
            label="Max Upload Slots"
          ></VuelugeFormLimitField>
        </v-row>
      </v-col>
      <v-col>
        <v-row dense>
          <v-checkbox
            :model-value="props.modelValue.add_paused"
            @update:modelValue="emit('update:modelValue', {...props.modelValue, add_paused: $event})"
            label="Add Paused"
          ></v-checkbox>
        </v-row>
        <v-row dense>
          <v-checkbox
            :model-value="props.modelValue.prioritize_first_last_pieces"
            @update:modelValue="emit('update:modelValue', {...props.modelValue, prioritize_first_last_pieces: $event})"
            label="Prioritize First/Last"
          ></v-checkbox>
        </v-row>
        <v-row dense>
          <v-checkbox
            :model-value="props.modelValue.sequential_download"
            @update:modelValue="emit('update:modelValue', {...props.modelValue, sequential_download: $event})"
            label="Sequential Download"
          ></v-checkbox>
        </v-row>
        <v-row dense>
          <v-checkbox
            :model-value="props.modelValue.super_seeding"
            @update:modelValue="emit('update:modelValue', {...props.modelValue, super_seeding: $event})"
            label="Super Seed"
          ></v-checkbox>
        </v-row>
        <v-row dense>
          <v-checkbox
            :model-value="props.modelValue.pre_allocate_storage"
            @update:modelValue="emit('update:modelValue', {...props.modelValue, pre_allocate_storage: $event})"
            label="Preallocate Disk"
          ></v-checkbox>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import {useAddTorrentPresets} from '~/composables';
import type {VuelugeAddTorrentPreset} from '~/lib';
import type {AddTorrentOptions} from '~/lib/driver';

import VuelugeFormLimitField from '@/Form/Limit.vue';

const props = withDefaults(defineProps<{
  modelValue: Partially<AddTorrentOptions>;
  usePresets?: boolean;
}>(), {
  usePresets: false,
});
const emit = defineEmits<{
  (e: 'update:modelValue', value: Partially<AddTorrentOptions>): void;
}>();

const {
  list: presets,
  apply,
  lookup,
} = useAddTorrentPresets();
const applyPreset = (name: VuelugeAddTorrentPreset['name']) => {
  apply(name);
  emit('update:modelValue', {...props.modelValue, ...lookup(name).options});
};
</script>

<script lang="ts">
export default {
  name: 'AddTorrentOptions',
};
</script>
