<template>
  <v-tabs
    v-model="tab"
  >
    <v-tab :value="Tab.FILES">
      Files
    </v-tab>
    <v-tab :value="Tab.OPTIONS">
      Options
    </v-tab>
  </v-tabs>
  <v-window v-model="tab">
    <v-window-item :value="Tab.FILES">
      <slot name="files"></slot>
    </v-window-item>

    <v-window-item :value="Tab.OPTIONS">
      <slot name="options"></slot>
    </v-window-item>
  </v-window>
</template>

<script setup lang="ts">
import {ref} from 'vue';

enum Tab {
  FILES,
  OPTIONS,
}

const tab = ref<Tab>(Tab.FILES);
</script>

<script lang="ts">
export default {
  name: 'AddTorrentTabs',
};
</script>
