<template>
  <v-app-bar color="grey-darken-3" elevation="4">
    <v-app-bar-nav-icon @click.stop="toggle()"></v-app-bar-nav-icon>
    <template #append>
      <AddTorrentDialog />
      <ConfigDialogTest />
      <v-btn
        :icon="icon"
        @click="onPauseResume()"
      ></v-btn>
      <v-btn
        :icon="mdiLogout"
        @click="logout"
      ></v-btn>
    </template>
  </v-app-bar>
</template>

<script setup lang="ts">
import {
  mdiPause,
  mdiPlay,
  mdiLogout,
} from '@mdi/js';
import {storeToRefs} from 'pinia';
import {computed} from 'vue';
import {useRouter} from 'vue-router';

import {
  useAuthStore,
  useCadenceStore,
  useNavDrawerStore,
} from '~/stores';

import AddTorrentDialog from '@/AddTorrent/Dialog.vue';
import ConfigDialogTest from '@/ConfigDialog.vue';

const cadenceStore = useCadenceStore();
const navDrawerStore = useNavDrawerStore();
const authStore = useAuthStore();
const router = useRouter();

const {stop, start} = cadenceStore;
const {isRunning} = storeToRefs(cadenceStore);
const {toggle} = navDrawerStore;
const onPauseResume = () => {
  isRunning.value
    ? stop()
    : start();
};
const logout = async () => {
  await authStore.logout();
  router.push({name: 'login'});
};
const icon = computed(() => isRunning.value ? mdiPause : mdiPlay);
</script>
