<template>
  <v-dialog
    v-model="isOpen"
  >
    <template #activator="{ props }">
      <v-btn
        v-bind="props"
        :icon="mdiCog"
      ></v-btn>
    </template>

    <v-card
      title="Configuration"
    >
      <template v-slot:append>
        <v-btn
          :icon="mdiClose"
          variant="text"
          @click="close"
        ></v-btn>
      </template>
      <v-card-text>
        <v-list>
          <v-list-subheader>Presets</v-list-subheader>
          <v-list-item
            v-for="(preset, i) in presets"
            :key="i"
            :title="preset.name"
          >
            <template #append>
              <AddTorrentPresetForm
                :model-value="preset"
                @update:model-value="(val) => presets = {
                  ...presets,
                  [val.name]: val
                }"
              ></AddTorrentPresetForm>
              <v-btn
                :icon="mdiDelete"
                @click="removePreset(preset.name)"
              ></v-btn>
            </template>
          </v-list-item>
          <v-list-item
            v-if="presetToAdd"
            :title="presetToAdd.name"
          >
            <template #append>
              <AddTorrentPresetForm
                ref="addPresetForm"
                :model-value="presetToAdd"
                @update:model-value="(val) => presets = {
                  ...presets,
                  [val.name]: val
                }"
              ></AddTorrentPresetForm>
            </template>
          </v-list-item>
        </v-list>
        <v-btn
          @click="addPreset"
        >Add Preset</v-btn>
      </v-card-text>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import {
  mdiCog,
  mdiClose,
  mdiDelete,
} from '@mdi/js';
import {storeToRefs} from 'pinia';
import {
  ref,
  computed,
  nextTick,
} from 'vue';

import {useOverlay} from '~/composables';
import {
  VUELUGE_ADD_TORRENT_PRESET_DEFAULT,
  type VuelugeAddTorrentPreset,
} from '~/lib';
import type {VuelugeConfig} from '~/lib/config';
import {usePluginConfigStore} from '~/stores';

import AddTorrentPresetForm from '@/AddTorrent/Preset/Form.vue';

const {
  isOpen,
  close,
} = useOverlay();
const configStore = usePluginConfigStore();
const {config} = storeToRefs(configStore);
const addPresetForm = ref<InstanceType<typeof AddTorrentPresetForm> | null>(null);
const presetToAdd = ref<VuelugeAddTorrentPreset | null>(null);
const presets = computed<VuelugeConfig['presets']>({
  get: () => config.value.presets,
  set: (val) => {
    configStore.set({
      ...config.value,
      presets: val,
    }).then(() => {
      presetToAdd.value = null;
    });
  },
});
const addPreset = () => {
  presetToAdd.value = {
    ...VUELUGE_ADD_TORRENT_PRESET_DEFAULT,
  };
  nextTick(() => {
    addPresetForm.value?.open();
  });
};
const removePreset = (name: VuelugeAddTorrentPreset['name']) => {
  delete presets.value[name];
  presets.value = {...presets.value};
};

configStore.get();
</script>
