<template>
  <v-card v-if="inMoveFlow">
    <v-card-title>Move Download Folder</v-card-title>
    <v-card-text>
      <v-text-field
        v-model="moveLocation"
        label="Download Location"
        required
      ></v-text-field>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn
        color="blue-darken-1"
        variant="text"
        @click="inMoveFlow = false"
      >
        Back
      </v-btn>
      <v-btn
        color="blue-darken-1"
        variant="text"
        @click="move"
      >
        Save
      </v-btn>
    </v-card-actions>
  </v-card>
  <v-card v-else>
    <v-list>
      <v-list-item v-if="paused" :prepend-icon="mdiPlay" @click="resume">Resume</v-list-item>
      <v-list-item v-else :prepend-icon="mdiPause" @click="pause">Pause</v-list-item>

      <v-divider></v-divider>

      <v-list-item :prepend-icon="mdiMinus" @click="remove">Remove</v-list-item>

      <v-divider></v-divider>

      <v-list-item :prepend-icon="mdiTextBoxCheck" @click="recheck">Force Recheck</v-list-item>
      <v-list-item :prepend-icon="mdiFileMove" :append-icon="mdiMenuRight" @click="inMoveFlow = true">Move Download Folder</v-list-item>
    </v-list>
  </v-card>
</template>

<script setup lang="ts">
import {
  mdiPause,
  mdiPlay,
  mdiMinus,
  mdiTextBoxCheck,
  mdiFileMove,
  mdiMenuRight
} from '@mdi/js';
import Container from 'typedi';
import { ref } from 'vue';
import { computed } from 'vue';

import {TorrentState, type Torrent} from '~/lib/driver';
import {VUELUGE_TORRENT_DRIVER} from '~/lib/driver/torrent';
import { useTorrentEntitiesStore } from '~/stores';

const props = defineProps<{
  torrentId: Torrent['id'];
}>();
const torrentEntityStore = useTorrentEntitiesStore<Torrent>()
const torrent = torrentEntityStore.get(props.torrentId)
const inMoveFlow = ref<boolean>(false)
const moveLocation = ref<string>(torrent.download_location)
const paused = computed(() => torrent.state === TorrentState.PAUSED)
const pause = () => {
  const driver = Container.get(VUELUGE_TORRENT_DRIVER);
  driver.pause(props.torrentId);
};
const resume = () => {
  const driver = Container.get(VUELUGE_TORRENT_DRIVER);
  driver.resume(props.torrentId);
};
const remove = () => {
  const driver = Container.get(VUELUGE_TORRENT_DRIVER);
  driver.remove(props.torrentId);
};
const recheck = () => {
  const driver = Container.get(VUELUGE_TORRENT_DRIVER);
  driver.recheck(props.torrentId);
};
const move = () => {
  const driver = Container.get(VUELUGE_TORRENT_DRIVER);
  driver.move(props.torrentId, moveLocation.value);
};
</script>
