<template>
  <v-expansion-panels variant="accordion">
    <v-expansion-panel
      v-for="(group, groupName) of props.filters"
      :key="groupName"
      :title="group.label"
    >
      <v-expansion-panel-text>
        <v-list>
          <v-list-item
            v-for="[label, count] of group.filters"
            :key="label"
            @click="select(groupName, label)"
          >
            {{label}} ({{count}})
          </v-list-item>
        </v-list>
      </v-expansion-panel-text>
    </v-expansion-panel>
  </v-expansion-panels>
</template>

<script setup lang="ts">
import {nextTick} from 'vue';

import type {VuelugeTorrentFilters} from '~/lib/filters';
import {useTorrentStore} from '~/stores';

interface Emits {
  (e: 'select', group: string, filter: string): void;
}

const props = defineProps<{
  filters: VuelugeTorrentFilters;
}>();
const emits = defineEmits<Emits>();

const torrentStore = useTorrentStore();
const select = (group: string, filter: string): void => {
  emits('select', group, filter);
  nextTick(() => {
    torrentStore.list();
  });
};
</script>
