<template>
  <v-navigation-drawer
    v-model="opened"
    width="300"
    color="grey-darken-1"
    sticky
  >
    <FiltersPanels
      :filters="filters"
      @select="select"
    ></FiltersPanels>
  </v-navigation-drawer>
</template>

<script setup lang="ts">
import {storeToRefs} from 'pinia';
import Container from 'typedi';

import {useFiltersQueryParam} from '~/composables';
import {VUELUGE_FILTER_ROUTING_CONFIG} from '~/lib/filters/routing';
import {
  useFiltersStore,
  useNavDrawerStore,
} from '~/stores';

import FiltersPanels from './FiltersPanels.vue';

const navDrawerStore = useNavDrawerStore();
const filtersStore = useFiltersStore();

const {opened} = storeToRefs(navDrawerStore);
const {filters} = storeToRefs(filtersStore);
const {select} = useFiltersQueryParam(Container.get(VUELUGE_FILTER_ROUTING_CONFIG).queryParam);
</script>
