<template>
  <v-data-table-server
    :page="metadata.pagination.current"
    :items-per-page="metadata.pagination.size"
    :sort-by="sortBy"
    :headers="headers"
    :items="torrents"
    :items-length="metadata.count"
    :search="search"
    fixed-header
    class="fit-height"
    height="100%"
    item-value="id"
    @update:options="load"
    @click:row="itemClicked"
  >
    <template
      v-for="column of columns"
      :key="column.id"
      v-slot:[`item.${column.id}`]="{item}"
    >
      <TorrentListItem
        :torrent-id="item.id"
        :name="column.id"
      >
        {{format(item, column as any)}}
      </TorrentListItem>
    </template>
    <template #footer.prepend>
      <v-text-field
        v-model="search"
        class="ma-2"
        density="compact"
        placeholder="Search..."
        hide-details
      ></v-text-field>
    </template>
  </v-data-table-server>
</template>

<style lang="scss">
.v-table__wrapper, .v-table {
  // height: 100%;
  // overflow-y: scroll;
}
</style>

<script setup lang="ts">
import {keyBy} from 'lodash';
import {storeToRefs} from 'pinia';
import {computed, ref} from 'vue';
import type {VDataTable} from 'vuetify/components';
import type {VDataTableServer} from 'vuetify/components/VDataTable';

import {useTorrentListCadence} from '~/composables';
import {
  defaultGetterFactory,
  type VuelugeTorrentColumn,
  // type VuelugeTorrentColumnFormatter,
} from '~/lib';
import type {TorrentPreview} from '~/lib/driver';
import {
  useCadenceStore,
  useMetadataStore,
  useSelectedTorrentStore,
  useTorrentColumnsStore,
  useTorrentStore,
} from '~/stores';

import TorrentListItem from '@/TorrentListItem.vue';
import { VuelugeSortDirection } from '~/lib/metadata';

// type FormattableColumn = VuelugeTorrentColumn & {
//   format: VuelugeTorrentColumnFormatter;
// };
type Options = Pick<
  VDataTableServer,
  'groupBy'
    | 'sortBy'
    | 'itemsPerPage'
    | 'page'
    | 'search'
>

const search = ref('')

const selectedTorrentStore = useSelectedTorrentStore();
const torrentStore = useTorrentStore();
const columnsStore = useTorrentColumnsStore();
const cadenceStore = useCadenceStore()
const metadataStore = useMetadataStore()

const {torrentList: torrents} = storeToRefs(torrentStore);
const {selected: selectedColumns} = storeToRefs(columnsStore);
const {response: metadata, request} = storeToRefs(metadataStore);

const getField = (torrent: TorrentPreview, column: VuelugeTorrentColumn) =>
  (column.get || defaultGetterFactory(column))(torrent);
const format = (torrent: TorrentPreview, column: VuelugeTorrentColumn): string =>
  (column.format || String)(getField(torrent, column));

const columns = computed(() => keyBy(selectedColumns.value, 'id'));
// const formattableColumns = computed(() => selectedColumns.value.filter(({format}) => !!format) as FormattableColumn[]);
const headers = computed(() => selectedColumns.value.map<Definite<VDataTableServer['headers']>[number]>(column => ({
  key: column.id,
  title: column.label,
  value: (item: any) => getField(item as TorrentPreview, column as any),
  sort: (a: TorrentPreview, b: TorrentPreview) => {
    console.log(a, b);
    return column.compare?.(a as never, b as never) || 0;
  },
  sortable: true,
})));
const sortBy = computed<VDataTableServer['sortBy']>(() => metadata.value.sort ?[{
  key: metadata.value.sort.field,
  order: metadata.value.sort.direction
}] : [])

const itemClicked = (event: PointerEvent, {item}: {item: {value: TorrentPreview['id']}}) => {
  selectedTorrentStore.selectTorrent(item.value);
};
const load = ({
  itemsPerPage,
  page,
  sortBy,
  search
}: Options) => {
  request.value.pagination.current = Number(page)
  request.value.pagination.size = Number(itemsPerPage)
  request.value.search = search || ''
  if (sortBy[0] && sortBy[0].key && sortBy[0].order) {
    const {key, order} = sortBy[0]
    request.value.sort = {
      field: key,
      direction: order === VuelugeSortDirection.ASCENDING ? VuelugeSortDirection.ASCENDING : VuelugeSortDirection.DESCENDING
    }
  } else {
    request.value.sort = undefined
  }
  cadenceStore.reset()
}

useTorrentListCadence();
</script>
