<template>
  <v-container fluid>
    <v-row>
      <v-col cols="2">
        Name:
      </v-col>
      <v-col>
        {{  props.torrent.name  }}
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="2">
        Hash:
      </v-col>
      <v-col>
        {{  props.torrent.id  }}
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="2">
        Download Folder:
      </v-col>
      <v-col>
        {{  props.torrent.save_path  }}
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="2">
        Total Size:
      </v-col>
      <v-col>
        {{  props.torrent.total_size  }}
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="2">
        Total Files:
      </v-col>
      <v-col>
        {{  props.torrent.num_files  }}
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="2">
        Comment:
      </v-col>
      <v-col>
        {{  props.torrent.label  }}
      </v-col>
    </v-row>

    <v-row>
      <v-col cols="2">
        Status:
      </v-col>
      <v-col>
        {{  props.torrent.state}}
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import type {Torrent} from '~/lib/driver';

const props = defineProps<{
  torrent: Torrent;
}>();
</script>
