<template>
  <v-system-bar window>
    <v-row>
      <v-col cols="2">
        <v-icon
          :icon="mdiLanConnect"
        ></v-icon>
        {{ stats.num_connections }}<template v-if="stats.max_num_connections >= 0"> ({{ stats.max_num_connections }})</template>
      </v-col>

      <v-divider vertical></v-divider>

      <v-col cols="2">
        <v-icon
          :icon="mdiDownload"
        ></v-icon>
        {{ vuelugeFileSizeRateFormat(stats.download_rate) }}<template v-if="stats.max_download >= 0"> ({{ stats.max_download }})</template>
      </v-col>

      <v-divider vertical></v-divider>

      <v-col cols="2">
        <v-icon
          :icon="mdiUpload"
        ></v-icon>
        {{ vuelugeFileSizeRateFormat(stats.upload_rate) }}<template v-if="stats.max_upload >= 0"> ({{ stats.max_upload }})</template>
      </v-col>

      <v-divider vertical></v-divider>

      <v-col cols="4">
        <v-icon
          :icon="mdiSwapVertical"
        ></v-icon>
        {{ vuelugeFileSizeRateFormat(stats.download_protocol_rate) }}/{{ vuelugeFileSizeRateFormat(stats.upload_protocol_rate) }}
      </v-col>

      <v-divider vertical></v-divider>

      <v-col cols="2">
        <v-icon
          :icon="mdiHarddisk"
        ></v-icon>
        {{ vuelugeFileSizeFormat(stats.free_space) }}
      </v-col>
    </v-row>
  </v-system-bar>
</template>

<style lang="scss">
.v-col {
  padding-top: 0;
  padding-bottom: 0;
}
</style>

<script setup lang="ts">
import {
  mdiLanConnect,
  mdiDownload,
  mdiUpload,
  mdiSwapVertical,
  mdiHarddisk,
} from '@mdi/js';
import {storeToRefs} from 'pinia';

import {
  vuelugeFileSizeRateFormat,
  vuelugeFileSizeFormat,
} from '~/lib/formatters';
import {
  useDelugeConfigStore,
  useStatsStore,
} from '~/stores';

const statsStore = useStatsStore();
const configStore = useDelugeConfigStore();

const {stats} = storeToRefs(statsStore);
const {config} = storeToRefs(configStore);
</script>
