<template>
  <v-container fluid>
    <template v-if="torrent">
      <v-row no-gutters>
        <v-tabs
          v-model="selectedTab"
          bg-color="primary"
        >
          <v-tab :value="VuelugeTorrentDetailsTab.STATUS">Status</v-tab>
          <v-tab :value="VuelugeTorrentDetailsTab.DETAILS">Details</v-tab>
          <v-tab :value="VuelugeTorrentDetailsTab.FILES">Files</v-tab>
          <v-tab :value="VuelugeTorrentDetailsTab.PEERS">Peers</v-tab>
          <v-tab :value="VuelugeTorrentDetailsTab.OPTIONS">Options</v-tab>
        </v-tabs>
      </v-row>
      <v-spacer/>
      <v-row no-gutters>
        <v-window v-model="selectedTab">
          <v-window-item :value="VuelugeTorrentDetailsTab.STATUS">
            <TorrentStatus :torrent="torrent"></TorrentStatus>
          </v-window-item>
          <v-window-item :value="VuelugeTorrentDetailsTab.DETAILS">
            <TorrentDetails :torrent="torrent"></TorrentDetails>
          </v-window-item>
          <v-window-item :value="VuelugeTorrentDetailsTab.OPTIONS">
            <TorrentOptionsComponent v-if="options" v-model="options"></TorrentOptionsComponent>
          </v-window-item>
        </v-window>
      </v-row>
    </template>
  </v-container>
</template>

<style lang="scss" scoped>
.v-window {
  width: 100%;
  max-height: 40vh;
  overflow: scroll;
}
</style>

<script setup lang="ts">
import {storeToRefs} from 'pinia';
import {computed} from 'vue';

import {useSelectedTab} from '~/composables';
import {VuelugeTorrentDetailsTab} from '~/lib';
import type {Torrent, TorrentOptions} from '~/lib/driver';
import {useSelectedTorrentStore, useTorrentEntitiesStore, useTorrentStore} from '~/stores';

import TorrentDetails from './TorrentDetails.vue';
import TorrentOptionsComponent from './TorrentOptions.vue';
import TorrentStatus from './TorrentStatus.vue';
import { isEqual } from 'lodash';

const {selectedTab} = useSelectedTab();
const selectedTorrentStore = useSelectedTorrentStore();
const entities = useTorrentEntitiesStore<Torrent>();
const torrentStore = useTorrentStore();
const {selectedTorrent} = storeToRefs(selectedTorrentStore);
const {options: torrentOptions} = storeToRefs(torrentStore);

const torrent = computed(() => selectedTorrent.value && entities.get(selectedTorrent.value.id))

const options = computed<TorrentOptions | null>({
  get: () => selectedTorrent.value ? torrentOptions.value[selectedTorrent.value.id] : null,
  set: (value) => {
    if (selectedTorrent.value && value && !isEqual(value, torrentOptions.value[selectedTorrent.value.id])) {
      torrentStore.setOptions(selectedTorrent.value.id, value)
    }
  }
})
</script>
