<template>
  <v-menu
    ref="menu"
    v-model="isOpen"
    :open-on-click="false"
    :close-on-content-click="false"
    :activator="selector"
  >
    <template #activator>
      <span
        class="activator"
        :data-torrent-id="props.torrentId"
        :data-name="props.name"
        @contextmenu.prevent="openMenu"
      >
        <slot></slot>
      </span>
    </template>
    <ContextMenu
      :torrent-id="props.torrentId"
    >
    </ContextMenu>
  </v-menu>
</template>

<script setup lang="ts">
import {computed, ref, type Ref} from 'vue';
import type {VMenu} from 'vuetify/lib/components/index.mjs';

import {useOverlay} from '~/composables';
import type {Torrent} from '~/lib/driver';

import ContextMenu from './ContextMenu.vue';

const menu = ref<InstanceType<typeof VMenu> | null>(null);
const props = defineProps<{
  torrentId: Torrent['id'];
  name: string;
}>();
const {
  isOpen,
  close,
  open,
} = useOverlay();
const selector = computed(() => `.activator[data-torrent-id="${props.torrentId}"][data-name="${props.name}"]`);
const openMenu = (event: MouseEvent) => {
  open();
  menu.value?.updateLocation?.(event)
};

defineExpose({
  open,
  close,
});
</script>
