<template>
  <v-container fluid>
    <v-row>
      <v-col
        cols="12"
        xl="3"
        md="6"
      >
        <v-row>
          <v-col cols="3">
            Downloaded:
          </v-col>
          <v-col>
            {{ vuelugeFileSizeFormat(props.torrent.total_done) }} ({{ vuelugeFileSizeFormat(props.torrent.total_payload_download) }})
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="3">
            Uploaded:
          </v-col>
          <v-col>
            {{ vuelugeFileSizeFormat(props.torrent.total_uploaded) }} ({{ vuelugeFileSizeFormat(props.torrent.total_payload_upload) }})
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="3">
            Share Ratio:
          </v-col>
          <v-col>
            {{  props.torrent.ratio  }}
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="3">
            Next Announce:
          </v-col>
          <v-col>
            {{  props.torrent.next_announce }}
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="3">
            Tracker Status:
          </v-col>
          <v-col>
            {{  props.torrent.tracker_status  }}
          </v-col>
        </v-row>
      </v-col>

      <v-col
        cols="12"
        xl="3"
        md="6"
      >
        <v-row>
          <v-col cols="3">
            Down Speed:
          </v-col>
          <v-col>
            {{ vuelugeFileSizeRateFormat(props.torrent.download_payload_rate) }}
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="3">
            Up Speed:
          </v-col>
          <v-col>
            {{ vuelugeFileSizeRateFormat(props.torrent.upload_payload_rate) }}
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="3">
            ETA:
          </v-col>
          <v-col>
            {{  vuelugeDurationFormat(props.torrent.eta)  }}
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="3">
            Pieces:
          </v-col>
          <v-col>
            {{  props.torrent.num_pieces }} ({{  vuelugeFileSizeFormat(props.torrent.piece_length) }})
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="3">
            Last Transfer:
          </v-col>
          <v-col>
            {{  vuelugeDurationFormat(props.torrent.time_since_transfer)  }}
          </v-col>
        </v-row>
      </v-col>

      <v-col
        cols="12"
        xl="3"
        md="6"
      >
        <v-row>
          <v-col cols="3">
            Seeds:
          </v-col>
          <v-col>
            {{ props.torrent.num_seeds }} ({{ props.torrent.total_seeds }})
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="3">
            Peers:
          </v-col>
          <v-col>
            {{ props.torrent.num_peers }} ({{ props.torrent.total_peers }})
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="3">
            Availability:
          </v-col>
          <v-col>
            {{  props.torrent.distributed_copies  }}
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="3">
            Auto Managed:
          </v-col>
          <v-col>
            {{  props.torrent.is_auto_managed }}
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="3">
            Complete Seen:
          </v-col>
          <v-col>
            {{  vuelugeDateFormatter(props.torrent.last_seen_complete)  }}
          </v-col>
        </v-row>
      </v-col>

      <v-col
        cols="12"
        xl="3"
        md="6"
      >
        <v-row>
          <v-col cols="3">
            Active Time:
          </v-col>
          <v-col>
            {{ vuelugeDurationFormat(props.torrent.active_time) }}
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="3">
            Seeding Time:
          </v-col>
          <v-col>
            {{ vuelugeDurationFormat(props.torrent.seeding_time) }}
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="3">
            Seed Rank:
          </v-col>
          <v-col>
            {{  props.torrent.seed_rank  }}
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="3">
            Date Added:
          </v-col>
          <v-col>
            {{  vuelugeDateFormatter(props.torrent.time_added)  }}
          </v-col>
        </v-row>

        <v-row>
          <v-col cols="3">
            Completed:
          </v-col>
          <v-col>
            {{  vuelugeDateFormatter(props.torrent.completed_time)  }}
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import type {Torrent} from '~/lib/driver';
import {
  vuelugeFileSizeFormat,
  vuelugeFileSizeRateFormat,
  vuelugeDurationFormat,
  vuelugeDateFormatter,
} from '~/lib/formatters';

const props = defineProps<{
  torrent: Torrent;
}>();
</script>
