<template>
  <v-container fluid>
    <v-row>
      <v-col cols="12" md="4" sm="6">
        <v-row>
          <VuelugeFormLimitField :model-value="props.modelValue.max_download_speed"
            @update:modelValue="emit('update:modelValue', { ...props.modelValue, max_download_speed: $event })"
            label="Max Down Speed"></VuelugeFormLimitField>
        </v-row>

        <v-row>
          <VuelugeFormLimitField :model-value="props.modelValue.max_upload_speed"
            @update:modelValue="emit('update:modelValue', { ...props.modelValue, max_upload_speed: $event })"
            label="Max Up Speed"></VuelugeFormLimitField>
        </v-row>

        <v-row>
          <VuelugeFormLimitField :model-value="props.modelValue.max_connections"
            @update:modelValue="emit('update:modelValue', { ...props.modelValue, max_connections: $event })"
            label="Max Connections"></VuelugeFormLimitField>
        </v-row>

        <v-row>
          <VuelugeFormLimitField :model-value="props.modelValue.max_upload_slots"
            @update:modelValue="emit('update:modelValue', { ...props.modelValue, max_upload_slots: $event })"
            label="Max Upload Slots"></VuelugeFormLimitField>
        </v-row>
      </v-col>

      <v-col cols="12" md="4" sm="6">
        <v-row>
          <v-checkbox :model-value="props.modelValue.is_auto_managed"
            @update:modelValue="emit('update:modelValue', { ...props.modelValue, is_auto_managed: $event })"
            label="Auto Managed"></v-checkbox>
        </v-row>

        <v-row>
          <v-checkbox :model-value="props.modelValue.stop_at_ratio"
            @update:modelValue="emit('update:modelValue', { ...props.modelValue, stop_at_ratio: $event })"
            label="Stop Seed at Ratio"></v-checkbox>
          <VuelugeFormLimitField :disabled="!props.modelValue.stop_at_ratio" :model-value="props.modelValue.stop_ratio"
            @update:modelValue="emit('update:modelValue', { ...props.modelValue, stop_ratio: $event })">
          </VuelugeFormLimitField>
          <v-checkbox :model-value="props.modelValue.remove_at_ratio"
            @update:modelValue="emit('update:modelValue', { ...props.modelValue, remove_at_ratio: $event })"
            label="Remove at Ratio"></v-checkbox>
        </v-row>

        <v-row>
          <v-col cols="4">
            <v-checkbox :model-value="props.modelValue.move_completed"
              @update:modelValue="emit('update:modelValue', { ...props.modelValue, move_completed: $event })"
              label="Move Completed"></v-checkbox>
          </v-col>
          <v-col cols="8">
            <v-text-field :disabled="!props.modelValue.move_completed" :model-value="props.modelValue.move_completed_path"
              @update:modelValue="emit('update:modelValue', { ...props.modelValue, move_completed_path: $event })"
              label="Path"></v-text-field>
          </v-col>
        </v-row>
      </v-col>

      <v-col cols="12" md="4" sm="6">
        <v-row>
          <v-checkbox :model-value="props.modelValue.prioritize_first_last"
            @update:modelValue="emit('update:modelValue', { ...props.modelValue, prioritize_first_last: $event })"
            label="Prioritize First/Last"></v-checkbox>
        </v-row>

        <v-row>
          <v-checkbox :model-value="props.modelValue.super_seeding"
            @update:modelValue="emit('update:modelValue', { ...props.modelValue, super_seeding: $event })"
            label="Super Seeding"></v-checkbox>
        </v-row>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import type {TorrentOptions} from '~/lib/driver';

import VuelugeFormLimitField from '@/Form/Limit.vue';

const props = defineProps<{
  modelValue: Partially<TorrentOptions>;
}>();
const emit = defineEmits<{
  (e: 'update:modelValue', value: Partially<TorrentOptions>): void;
}>();

</script>
