<template>
  <v-app>
    <router-view v-slot="{ Component, route }" name="header">
      <suspense>
        <template #default>
          <component
            :is="Component"
            :key="route.meta.usePathKey ? route.path : undefined"
          />
        </template>
        <template #fallback> Loading... </template>
      </suspense>
    </router-view>
    <router-view v-slot="{ Component, route }" name="drawer">
      <suspense>
        <template #default>
          <component
            :is="Component"
            :key="route.meta.usePathKey ? route.path : undefined"
          />
        </template>
        <template #fallback> Loading... </template>
      </suspense>
    </router-view>
    <v-main style="max-height: 100vh;">
      <router-view v-slot="{ Component, route }">
        <!-- <transition :name="route.meta.transition || 'fade'" mode="out-in">
          <keep-alive> -->
            <suspense>
              <template #default>
                <component
                  :is="Component"
                  :key="route.meta.usePathKey ? route.path : undefined"
                />
              </template>
              <template #fallback> Loading... </template>
            </suspense>
          <!-- </keep-alive>
        </transition> -->
      </router-view>
    </v-main>
    <v-footer border app>
      <router-view v-slot="{ Component, route }" name="footer">
        <suspense>
          <template #default>
            <component
              :is="Component"
              :key="route.meta.usePathKey ? route.path : undefined"
            />
          </template>
          <template #fallback> Loading... </template>
        </suspense>
      </router-view>
    </v-footer>
    <router-view v-slot="{ Component, route }" name="systemBar">
      <suspense>
        <template #default>
          <component
            :is="Component"
            :key="route.meta.usePathKey ? route.path : undefined"
          />
        </template>
        <template #fallback> Loading... </template>
      </suspense>
    </router-view>
  </v-app>
</template>
