<template>
  <v-alert
    v-for="error in errors"
    :key="error"
    :text="error"
    type="error"
    closable
  ></v-alert>
  <v-form
    ref="form"
    :disabled="loading"
    @submit.prevent="submit"
  >
    <v-text-field
      v-model="password"
      required
      type="password"
      label="Web UI Password"
    ></v-text-field>
    <v-btn @click="submit">Login</v-btn>
  </v-form>
</template>

<script setup lang="ts">
import {storeToRefs} from 'pinia';
import {ref} from 'vue';
import {useRouter} from 'vue-router';
import {VForm} from 'vuetify/components';

import {useRouteQueryParams} from '~/composables';
import {
  useAuthLoginOperationStore,
  useAuthStore,
} from '~/stores';

const form = ref<InstanceType<typeof VForm> | null>(null);
const password = ref<string>('');
const authStore = useAuthStore();
const loginOperationStore = useAuthLoginOperationStore();
const router = useRouter();
const {get} = useRouteQueryParams();

const {
  errors,
  loading,
} = storeToRefs(loginOperationStore);
const submit = async () => {
  if (await form.value?.validate()) {
    await authStore.login(password.value);
    router.push(get('redirect') || {name: 'home'});
  }
};
</script>

<script lang="ts">
export default {
  name: 'AuthLoginForm',
};
</script>
